{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "airbnb",
    "stage-0"
  ],
  "env": {
    "test": {
      "plugins": [ "transform-runtime" ]
    },
    "development": {
      "plugins": [
        "transform-runtime",
        "react-hot-loader/babel"
      ]
    }
  }
}
