.sidebar-container {
  height: 100%;
  position: relative;
  overflow: overlay;
  padding: 22px 40px;
  width: 220px;
  flex-grow: 0;

  .vertical-separator {
    position: absolute;
    right: 0;
    top: 20px;
    width: 2px;
    height: calc(100% - 40px);
    background-color: #CFCFCF;
  }
}